@page "/"

<div class="container my-4">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1 class="display-4">購物，從未如此有趣！</h1>
            <p class="lead">挑戰你的購物欲望，史創敗讓你愛上網購！</p>
        </div>
        <div class="highlight-section col-md-6">
            <h2>強力推薦</h2>
            <div class="product-grid">
                <div class="product-item">
                    <img src="/images/home-hotsell-251129.png" alt="活動1"/>
                    <h3>最新爆款商品</h3>
                    <p>每週更新，熱賣商品不容錯過！</p>
                </div>
                <div class="product-item">
                    <img src="/images/home-recommendation-251129.png" alt="活動2"/>
                    <h3>精選推薦</h3>
                    <p>小編精選，性價比王者登場！</p>
                </div>
                <div class="product-item">
                    <img src="/images/home-promotion-251129.png" alt="活動3"/>
                    <h3>瘋狂折扣</h3>
                    <p>限時特惠，折扣多到讓你心動！</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-12">
            <img src="/images/banner-251129.png" alt="歡樂購物橫幅" class="img-fluid rounded"/>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-info">
        <h3>關於我們</h3>
        <p>StrongBuy 史創敗，讓購物成為一場冒險，快來探索吧！</p>
    </div>
    <div class="footer-links">
        <h3>聯絡我們</h3>
        <ul>
            <li>
                <a href="#">Email: support@strongbuy.com</a>
            </li>
            <li>
                <a href="#">Phone: 123-456-7890</a>
            </li>
            <li>
                <a href="#">Facebook | Instagram | Twitter</a>
            </li>
        </ul>
    </div>
</footer>